@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Near Real-time Stock market!</h1>
    <p class="lead">Built with ASP.NET, MVC5, JQuery, YQL, D3js</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://asp.net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yahoo Finance API & YQL</h2>
        <p>
            The YQL (Yahoo! Query Language) platform enables you to query, filter,
            and combine data across the web through a single interface. It exposes
            a SQL-like syntax that is both familiar to developers and expressive
            enough for getting the right data.
        </p>
        <p><a class="btn btn-default" href="https://developer.yahoo.com/yql">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> D3js</h2>
        <p>
            D3.js is a JavaScript library for manipulating documents based on data.
            D3 helps you bring data to life using HTML, SVG, and CSS. D3’s emphasis
            on web standards gives you the full capabilities of modern browsers without
            tying yourself to a proprietary framework, combining powerful visualization
            components and a data-driven approach to DOM manipulation.
        </p>
        <p><a class="btn btn-default" href="http://d3js.org/">Learn more &raquo;</a></p>
    </div>
</div>